.caption {
	background-color: black;
}

p {
	color: rgb(148, 148, 148);
}

p:hover {
	color:rgb(58, 216, 237);
}

.thumbnail {
	background-color: black;
	border-color: rgb(58, 216, 237);
}

#gametracker {
	width: 30%;
	height:10%;
	padding-right: 20px;
	display: inline;
	float: right;
}
