body {
	background-color: #121315;
}

img {
	width: 80%;
	margin-left: 100px;
}

h3 {
	font-family: 'GeosansLight';
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgb(148, 148, 148);
}

a {
	text-decoration: none;
	display: block;
}

ul {
	list-style-type: none;
}

.container-fluid {
	background-color: #000000;
}

li:hover {
	font-size: 22px;
  border-color:rgb(58, 216, 237);
}

.caption {
	background-color: black;
}

p {
	color: rgb(148, 148, 148);
}

p:hover {
	color:rgb(58, 216, 237);
}

.thumbnail {
	background-color: black;
	border-color: rgb(58, 216, 237);
}

#gametracker {
	padding-top: 30px;
display: inline;
float: right;
}
